---
import Layout from '../layouts/Layout.astro';
import HeroImage from '../components/HeroImage.astro';
import ServiceBlock from '../components/ServiceBlock.astro';
import { getEntry } from 'astro:content';
import MarkdownIt from 'markdown-it';

const md = new MarkdownIt();
const entry = await getEntry('services', 'services');
if (!entry) {
    throw new Error("Entry for 'services' not found.");
}
const { title, description, services, body } = entry.data;
---

<Layout title={title} description={description} hero={'no-hero'}>
  <main class="services-page page-content">
    <section class="services-page__intro align-centre">
      <h1>{title}</h1>
      <div class="text-content" set:html={md.render(body ?? '')} />
    </section>
    {services.map((service, index) => (
        <ServiceBlock 
            title={service.title}
            content={service.content}
            image={service.image}
            index={index}
        />
    ))}
  </main>
</Layout>

<style>
.services-page__intro {
    max-width: 800px;
    padding: 0 2rem;
    margin: 0 auto 80px auto;
    text-align: center;
}
</style>